$bg-course: #efefef;
$border: #ff8000;
$color: #4a4a4a;
$width: 960px;

$grey: #adadad;
$very-bright-grey: #f4f4f4;
$not-very-bright-grey: #ebebeb;
$bright-grey: #e2e2e2;
$dark-grey: #7b7b7b;
$very-dark-grey: #4b4b4b;
$alert-red: #8e0000;
$bright-red: #ff2f2f;
$green: #00b200;

$bg-alert : #ffd37f;

$ored : #bc0101;
$ogreen : #14b90d;

$aColor: #087e48;
$navy : #132b7e;

$primary-color: #0062ff;

*::-moz-selection { color:none;}
*::selection { color:none; }

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $color;
  font-size: 1rem;
  margin-top: 40px;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.85rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.70rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.55rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: $aColor;
}

ul {
  padding-right: 40px;
}

.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  background-color: $bright-grey;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: $navy;
  font-weight: bold;
  -webkit-box-shadow: 0px 10px 20px -7px rgb(198, 198, 198);
  -moz-box-shadow: 0px 10px 20px -7px rgb(198, 198, 198);
  box-shadow: 0px 10px 20px -7px rgb(198, 198, 198);
}

.menuBar > p {
  text-align: center;
  margin: 0px auto;
  padding-top: 10px;
}

.menuLink {
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid $green;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.menuLink:hover {
  background-color: $green;
  color: #FFF;
}

.container {
  margin: 0px auto;
  padding: 5px;
  margin-bottom: 20px;
}

.course-handler {
  background-color: $bg-course;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 4px solid $border;
}

.course-table, td {
  border: 1px solid $bright-grey;
  border-collapse: collapse;
  table-layout: fixed;
  padding: 10px;
  width: 50%;
  margin: 0px auto;
}

.availableCalculators {
  text-align: center;
}

.availableCalculators, td {
  border: 1px solid $grey;
  border-collapse: collapse;
  table-layout: fixed;
  padding: 10px;
  margin: 0px auto;
}

.availableCalculators tr:first-child {
  color: $primary-color;
}

.courseTableOutput, td {
  width: -webkit-fill-available;
  width: -moz-available;
  width: -o-available;
  width: -m-available;
}

@media only screen and (min-width: 721px) {
  .container {
    width: $width
  }
  .courseTableOutput {
    width: 100%;
    table-layout: auto;
  }
  .noInfo {
    font-size: 0.75rem;
  }
  .additionalExam {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 976px) {
  .row {
    clear: both;
  }
  .toRow {
    display: flex;
  }
  .alert {
    margin-right: 5px;
    height: 100%;
    float: left;
    width: calc(80% - 5px);
  }
  .alert > h5 {
    margin-top: 20px;
  }
  .goTo {
    width: 20%;
    float: left;
  }
  .info {
    width: 20%;
    float: left;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
  font-size: 1.4rem;
  }

  h2 {
    font-size: 1.35rem;
  
  }

  h3 {
    font-size: 1.3rem;
  
  }

  h4 {
    font-size: 1.25rem;
  
  }

  h5 {
    font-size: 1.2rem;
  
  }

  h6 {
    font-size: 1.15rem;
  
  }
  .course-table {
    width: 100%;
  }
  .courseTableOutput {
    width: 100%;
    table-layout: auto;
    font-size: 0.75rem;
  }
  .courseTableOutput, td {
    padding: 2px;
  }
  .courseTableOutput td:first-child {
    display: none;
  }
  .noInfo, .additionalExam {
    font-size: 0.45rem;
    display: inline-block;
  }
}

.courseTableInput tr:nth-of-type(n+3) td:nth-child(2) {
  font-size: 0.75rem;
}

.courseTableInput tr:nth-of-type(n+2) td:nth-child(3) {
  text-align: center;
}

#course-table td:first-child + td + td {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.courseTableInput tr:nth-of-type(n+2) {
  color: $dark-grey;
}

.courseTableInput > tbody > tr:nth-child(2), .courseTableInput > tbody > tr:nth-child(3), .courseTableInput > tbody > tr:nth-child(8), {
  color: $primary-color;
  font-weight: 700;
}

.courseTableInput > tbody > tr:nth-child(1), .courseTableInput > tbody > tr:nth-child(2), .courseTableInput > tbody > tr:nth-child(3), .courseTableInput > tbody > tr:nth-child(7), .courseTableInput > tbody > tr:nth-child(8), {
  background-color: $very-bright-grey;
}

.infoInput td {
  font-size: 0.75rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $bright-grey;
}

.infoInputCourseCategory td {
  color: $green;
}

.infoInputCourseNotCount td {
  color: $alert-red;
}

.col-3 {
  width: calc(33.333% - 28px);
  float: left;
}

.ext {
  display: inline-block;
}

#tdAlert {
  font-size: 0.75rem;
  color: $alert-red;
}

#spanAlert {
  opacity: 0;
  -webkit-transition: all 140ms linear;
  -moz-transition: all 140ms linear;
  -o-transition: all 140ms linear;
  -ms-transition: all 140ms linear;
  transition: all 140ms linear;
}

#clearFormInput {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}

#clearForm > td:nth-child(2) {
  text-align: center;
}

#clearFormInput {
  font-size: 1.10rem;
  border-radius: 14px;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.clearFormInputRed {
  background-color: $very-bright-grey;
  border-color: $alert-red;
  color: $alert-red;
}

.clearFormInputGreen {
  background-color: $green;
  border-color: $green;
  color: #FFF;
}

.courseTableOutput tr:nth-of-type(n + 2) td:nth-child(1) {
  font-size: 0.75rem;
  color: $grey;
}

.courseTableOutput tr:nth-of-type(n) td:nth-child(n + 3) {
  text-align: center;
}

.courseOutputTitle {
  color: $primary-color;
  font-weight: bold;
  background-color: $not-very-bright-grey;
}

.courseOutputTitle td:nth-child(3) {
  font-size: 0.75rem;
}

.scoresYearRow td {
  font-size: 0.75rem;
  padding: 0px;
  color: $grey;
  background-color: $not-very-bright-grey;
  border-bottom: 5px solid $bright-grey;
}

.noInfo {
  color: $navy;
  padding: 2px 5px 2px 5px;
  background-color: $very-bright-grey;
}

.outRed {
  color: $ored;
}

.outGreen {
  color: $ogreen;
  font-weight: bold;
}

.additionalExam {
  padding: 2px 5px 2px 5px;
  color: $navy;
  background-color: $bright-grey;
  margin-left: 5px;
}

.footer {
  font-size: 0.75rem;
  color: $very-dark-grey;
  width: 100%;
}

.footer > .container {
  background-color: $very-bright-grey;
  text-align: center;
}

.info {
  color: $dark-grey;
}

.mail {
  text-decoration: underline;
  color: $navy;
}

.logo {
  margin: 0px auto;
  max-height: 160px;
  max-width: 70%;
  text-align: center;
  display: inline;
}

.info > a {
  color: $navy;
}

.info > h1 {
  text-align: center;
}

.infoCurrency {
  font-size: 0.75rem;
  padding: 2px 5px 2px 5px;
  color: $navy;
  background-color: $bright-grey;
}

.menu {
  color: $dark-grey;
  width: 100%;
}

.menu > .container {
  background-color: $very-bright-grey;
}

.menu > .container > h1 {
  text-align: center;
}

.alert {
  color: $dark-grey;
  text-align: center;
  background-color: $bg-alert;
}

.alert > h5 {
  text-align: center;
  color: $alert-red;
  max-width: 80%;
  margin: 0px auto;
  padding-top: 20px;
  font-weight: 400;
}

.alert > p {
  text-align: center;
  color: $navy;
  padding-bottom: 10px;
}

.quote {
  color: $dark-grey;
  width: 100%;
  clear: both;
}

.quote > .container {
  background-color: $very-bright-grey;
}

.quote > .container > .quoteContent {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: $dark-grey;
  font-size: 30px;
  max-width: 80%;
  margin: 0px auto;
  margin-top: 30px;
}

.quote > .container > .quoteAuthor {
  font-size: 20px;
  color: $grey;
  margin-right: 130px;
  text-align: right;
}

.welcomeInfo {
  color: $dark-grey;
  width: 100%;
  margin-top: 20px;
}

.welcomeInfo > .container {
  text-align: center;
  color: $navy;
  background-color: $very-bright-grey;
}

.footerInfo > .container {
  background-color: $very-bright-grey;
}

.footerInfo > .container > p {
  text-align: center;
  color: $navy;
  max-width: 80%;
  margin: 0px auto;
  padding: 15px;
  
}

.goTo {
  color: $dark-grey;
  margin-top: 20px;
  text-align: center;
}

.goTo > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;

  background: #db2b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #db2b2b 0%,#ce4040 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #db2b2b 0%,#ce4040 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #db2b2b 0%,#ce4040 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2b2b', endColorstr='#c66f6f',GradientType=0 ); /* IE6-9 */
  
  border: 1px solid $alert-red;
  
  -webkit-transition: all 140ms linear;
  -moz-transition: all 140ms linear;
  -o-transition: all 140ms linear;
  -ms-transition: all 140ms linear;
  transition: all 140ms linear;
}

.goTo > a:hover {
  background: $ored;
}

.info1 {
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

.info1 > .container > span {
  background-color: $bright-grey;
  font-size: 12px;
  color: $navy;
  padding: 5px;
  border: 1px solid $grey;
}

.infoInstruction > .container {
  background-color: $very-bright-grey;
  color: $dark-grey;
}

.infoInstruction > .container > h1 {
  text-align: center;
}

.goToInstruction {
  text-align: center;
}